{% include "header.html" %}

<!-- Page Header-->
<header class="masthead" style = "background-color:rgb(255, 147, 189)">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <div class="container" style="width: 120%; max-width: 2000px; margin: 0 auto;">
                        <h2 class="post-title" style="font-size: 44px;">{{ post.title }}</h2>
                      </div>
                      <span class="subheading" style="font-size: 21px;">{{ post.subtitle }}</span>
                    
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <p>{{ post.body | safe }}</p>
                <span class="meta"><b>Posted by {{ post.author }} on {{ post.subtitle }}</b></span>
            </div>
            
        </div>
    </div>
</article>

{% include "footer.html" %}